    @model List<ProductCategory>

    @{
        ViewData["title"] = "Product Categories";
    }

    <section id="product-categories-container" class="admin-product-categories-container">
        <div class="container">

            <div class="row text-center mb-0 mt-5">
                <div class="col-12">
                    <h2 class="section-title">View</h2>
                    <h3 class="section-sub-title mb-3">Product Categories</h3>
                    <a asp-controller="ProductCategory" asp-action="Create" class="btn btn-primary mb-5">Create</a>
                </div>
            </div>

            <div class="row mt-2">
                @if (!Model.Any())
                {
                    <p>No product categories available.</p>
                }
                else
                {
                    foreach (var category in Model)
                    {
                        <div class="mt-0 col-md-4 mb-4">
                            <div class="admin-category-card">
                                @if (!string.IsNullOrEmpty(category.ImagePath))
                                {
                                    <img src="@category.ImagePath" alt="@category.Title" class="admin-category-image" />
                                }
                                <div class="admin-category-body">
                                    <h5 class="admin-category-title">@category.Title</h5>
                                <p class="admin-category-description">
                                    @if (!string.IsNullOrEmpty(category.Description) && category.Description.Length > 255)
                                    {
                                        @category.Description.Substring(0, 255)
                                    }
                                    else
                                    {
                                        @category.Description
                                    }...
                                </p>
                                    <p class="admin-category-created-at">
                                        Created At: @category.CreatedAt?.ToString("MMMM dd, yyyy")
                                    </p>
                                    <a asp-controller="ProductCategory" asp-action="Update" asp-route-id="@category.Id" class="btn btn-primary">Update</a>
                                    <a asp-controller="ProductCategory" asp-action="Delete" asp-route-id="@category.Id" class="btn btn-primary">Delete</a>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </section>
