@model List<Query>

@{
    ViewData["title"] = "Queries";
}

<section id="query-main-container" class="query-main-container">
    <div class="container">
        <div class="row text-center mb-4">
            <div class="col-12">
                <h2 class="query-section-title">Reply To Received Inquiries</h2>
                <h3 class="query-section-sub-title">Queries</h3>
            </div>
        </div>

        <div class="row">
            @foreach (var query in Model)
            {
                <div class="col-md-6 mb-4">
                    <div class="query-card">
                            <div class="query-header">
                            <h5 class="query-name">@query.Name</h5>
                            <p class="query-contact">
                                <strong>Email: @query.Email </strong><br />
                                <strong>Phone: @query.PhoneNumber</strong>
                            </p>
                        </div>
                        <div class="query-body">
                            @if (query.Reply != null)
                                {
                                <p class="query-message"><strong>Query:</strong> @query.Message
                                    <br>
                                    <strong>Reply:</strong> @query.Reply
                                </p>
                                }
                            else
                            {
                                <p class="query-message">
                                    <strong>Query:</strong> @query.Message
                                </p>
                                <a asp-controller="Admin" asp-action="ReplyToQuery" asp-route-id="@query.Id"><button class="btn-reply">Reply</button></a>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
