@using AGECorporate.View_Models
@model ProductCategoryDisplayViewModel

@{
    ViewData["Title"] = "Products";
}

<section id="product-categories-container" class="admin-product-categories-container">
    <div class="container">

        <div class="row text-center mb-0 mt-5">
            <div class="col-12">
                <h2 class="section-title">Product Category</h2>
                <h3 class="section-sub-title">@Model.productCategory!.Title</h3>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-9 col-md-10 col-sm-11">
                <p style="font-size: 1.05rem; white-space: pre-wrap;" class="mb-5">@Model.productCategory!.Description</p>
                
                <div class="row justify-content-center">
                    <div class="col-md-8 mt-5 mb-5">
                        <img src="@Model.productCategory!.ImagePath" alt="@Model.productCategory!.Title" class="img-fluid mb-4" />
                    </div>
                </div>

                    @if (!Model.products.Any())
                    {
                        <p>No products available for this category.</p>
                    }
                    else
                    {
                        foreach (var product in Model.products)
                        {
                            <div class="row mt-3">
                                <h3 class="column-title mb-1">@product.Title</h3>
                                <p style="font-size: 1.05rem; white-space: pre-wrap;" class="mt-0">@product.Description</p>
                                @if(!string.IsNullOrEmpty(product.ImagePath))
                                {
                                <div class="row justify-content-center">
                                    <div class="col-md-8 mt-5 mb-5">
                                        <img src="@product.ImagePath" alt="@product.Title" class="img-fluid mb-4" />
                                    </div>
                                </div>                                    
                                }
                            </div>
                        }
                    }

            </div>
        </div>


    </div>
</section>
